body {
    background-color: #ea2c49;
    padding: 0;
    margin: 0;
    transition: background-color 2s;
}
body.white {
    background-color: white;
}
img.logo {
    display: block;
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
}
.logo.red {
    display: none;
}
body.white .logo.red {
    display: block;
}
body.white .logo.white {
    display: none;
}
.mb_auto {
    margin-bottom: auto !important;
}
.mt_auto {
    margin-top: auto !important;
}